# Executables
*
!**.*
**.out

# logs directory (don't ignore)
!logs/

# Makefile (don't ignore)
!Makefile

# Dockerfile (don't ignore)
!Dockerfile

# Directories
libbpf-bootstrap/
.vscode/
.output/

# Custom
test.c

# Todo
todo